.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.3fr 1fr 0.3fr ;
    grid-template-areas: 
    "logo logo"
    "banner main"
    "media media"
    ;
    padding:5rem 5rem 1rem 7rem ;




    .main{
        display: flex;
        justify-content: flex-start;
        color: white;
        flex-direction: column;
        padding-right: 7rem;
        padding-left: 6rem;

        .title{
            font-size: 3.5rem;
            font-family: Poppins;
            line-height: 4rem;
            margin-top: 5rem;
        }
        .about{
            font-size: 1.7rem;
            margin-top: 2rem;
        }
        .button{
            display: block;
            padding: 1.9rem;
            background-color: white;
            color:$violet;
            border-radius: 2.5rem;
            width: 20rem;
            text-align: center;
            margin-top: 4rem;
            font-size: 1.5rem;
            font-weight: 400;
            cursor: pointer;
            box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
            
            &:hover{
            box-shadow: rgba(116, 6, 126, 0.35) 0px 5px 15px;

            }
        }

        }
    }




.logo{
    grid-area: logo;
}
.img{
    grid-area: img;
}
.title{
    grid-area: title;
}
.media{
    grid-area: media;
}


.logo{
    img{
        height: 5rem;
    }
}
.banner{
    img{
        max-width: 98%;
        height: auto;
    }
}
.media{
    margin-top: 3rem;
    .icons{
        display: flex;
        justify-content:flex-end;
        align-items: center;
        margin-right: 10rem;
        
        ion-icon {
            font-size: 3.3rem;
            color: aliceblue;
            padding: 0.5rem;
            border-radius: 50%;
            border: 0.5px solid white;
          }
    }

}