@media only screen and (max-width: 357px) {
    body {
        background-image: url(/images/bg-mobile.svg);
    }
    .container{
        grid-template-columns: 1fr;
        grid-template-rows: 0.2fr 0.5fr 1fr 0.1fr ;
        grid-template-areas: 
        "logo"
        "banner"
        "title"
        "media"



    }

  }